html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li, form, label,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    font-family: "微软雅黑";
    vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a{
    color: #000;
    text-decoration: none;
}
a:hover{
    color: #000;
    text-decoration: none;
}

.input_s{width:150px !important;}
.input_m{width:200px !important;}
.input_b{width:300px !important;}
.btn-wrap{padding:0 0 20px 0;}
.q_left{float:left !important;}
.q_right{float:right !important;}
.q_clearFloat:after{visibility: hidden;clear: both;display: block;height: 0px;content: "."}
.q_clearFloat{zoom: 1;}
.otable{width:100%;}
.otable table{width:100% !important;}


html,body,#app{width:100%;height:100%;overflow: hidden;}

.success{color:#67C23A !important;}
.warning{color:#E6A23C !important;}
.danger{color:#F56C6C !important;}
.info{color:#909399 !important;}


.q_filter .taskList{text-align: center;line-height:52px;background: #67C23A;cursor:pointer;color:#fff;}
.q_filter .taskListActive{background:#c1c1c1;}
.q_filter .el-col{margin-bottom:4px !important;}

.top_border{border-top:4px solid #e7eaec;}
.box{width:100%;min-height:50%;background:#fff;border-radius: 6px;}
.con .btn-wrap{padding:15px 20px 0 20px;}
.con .tables{padding:20px 20px;}
.top-line{border-top:1px solid #eeeeee;margin-bottom:20px;}
.thumb{width:60px;height:60px;display: block;border-radius: 4px;}
.avatar{width:50px;height:50px;border-radius: 4px;}